.input-group-addon {
  background-color: white;
}
#icon{
    padding-right: 30px;
}
.form-horizontal{
	margin-left: 25px;
	margin-right: 10px;
}

.btn-info{
	float: left;
}

.alert-success{
	margin-bottom: 0px;
}